.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(public/1.jpg);
  background-size: cover; /* Görselin tam ekranı kaplamasını sağlar */
  background-position: center; /* Görseli ortalar */
  background-repeat: no-repeat;
  height: 1200px;
}

.hero-content {
  text-align: center;
  color: #4B5043;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero-buttons {
  margin-top: 50px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  background-color: #4B5043;
}

.btn:hover {
  background-color: #ffffff;
  color: #4B5043;
}
.btn-secondary{
  margin-left: 10px;
}
